<!DOCTYPE html>
<html>
<body>

<h2>Send a message</h2>

<form action="/">
  Message:<br>
  <input type="text" name="message" >
  <br>
  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be shown below:</p>
<p><%= msg %></p>
</body>
</html>
